*, ::before, ::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    margin: 10px;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(36, 36, 36);
    border-radius: 15%;
    border: 1px solid white;
    padding: 8px;
    margin: 2px;
}

.buttonbox {
    margin: 10px;
}

.gridclass {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 404px;
    width: 404px;
    border: 2px solid black;
    margin: 10px;
}

.boxclass {
    display: flex;
    flex-grow: 1;
    flex-basis: 25px;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
}