.gridclass {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    margin: 0px;
}

.boxclass {
    display: flex;
    flex-grow: 1;
    flex-basis: 25px;
    max-height: 25px;
    max-width: 25px;
    min-height: 25px;
    min-width: 25px;
}